/* Moblie and Tablet */
@media (max-width: 1023px) {
    :root {
        --header-height: 66px;
        --nav-height: 0;
    }
    .hide-on-mobile-tablet {
        display: none;
    }
    .header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 10;
    }
    .header-container {
        padding-top: 10px;
    }
    .cart__container {
        position: fixed;
        top: var(--header-height); 
        width: 100%;
    }
    .cart__container::after {
        display: none;
    }
    .header-sort-bar {
        display: flex;
    }
    .container {
        margin-top: calc(var(--header-height) + var(--sort-bar-height)); 
    }
    .mobile-category {
        display: block;
    }
}

/* Tablet */

@media (min-width: 740px) and (max-width: 1023px) {
    .hide-on-tablet {
        display: none;
    }
    .header__cart {
        width: 80px;
        text-align: right;
    }
    .cart__container {
        padding: 0 calc((100% - 644px) / 2);
    }

}

/* Moblie */
@media (max-width: 739px) {
    .hide-on-mobile {
        display: none;
    }
    .header-container {
        justify-content: space-between;
        align-items: unset;
    }
    .header-mobile__search {
        display: block;
    }
    .header__logo,
    .header__cart {
        width: unset;
        -webkit-tap-highlight-color: none;
    }
    .header__logo-icon {
        width: 120px;
    }
    .header__search {
        position: absolute;
        top: var(--header-height);
        z-index: 1;
        left: 0;
        right: 0;
        height: var(--sort-bar-height);
        padding: 0 16px;
        display: none;
        animation: mobileSearchSlideDown linear 0.2s;
    }
    .header__search-box {
        position: unset;
    }
    .search-history {
        box-shadow: 0 1px 3px 2px rgba(0, 0, 0, 0.1);
    }
    @keyframes mobileSearchSlideDown {
        from {
            opacity: 0;
            top: calc(var(--header-height) / 2);
        }
        to {
            opacity: 1;
            top: var(--header-height);
        }
    }
    .header__cart {
        margin-right: 8px;
    }
    .pagination-item {
        margin: 0 4px;
    }
    .pagination-item__link {
        min-width: 36px;
    }
    .footer__content {
        padding: 0 16px;
    }
    .footer__heading,
    .footer__link {
        text-align: center;
    }
    .footer__download {
        justify-content: center;
    }
}   
